In [7]:
import pandas as pd

In [15]:
df = pd.read_csv("Datos/03001.csv", sep = ';', encoding = 'latin-1')
df.head()

,Provincia de residencia de la madre,Edad de la madre,Grupo de edad del padre,Total
0,Alava,Todas las edades,Todas las edades,2.810
1,Albacete,Todas las edades,Todas las edades,3.650
2,Alicante/Alacant,Todas las edades,Todas las edades,17.655
3,Almeria,Todas las edades,Todas las edades,7.505
4,Avila,Todas las edades,Todas las edades,1.210

In [16]:
df.drop(['Edad de la madre', 'Grupo de edad del padre'], axis = 1, inplace = True)

In [17]:
df.head()

  Provincia de residencia de la madre   Total
0                               Alava   2.810
1                            Albacete   3.650
2                    Alicante/Alacant  17.655
3                             Almeria   7.505
4                               Avila   1.210

In [18]:
df.to_csv('Datos/nacimientos_2004.csv')