In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("Datos/03001.csv", sep = ';', encoding = 'latin-1')
df.head()

,Provincia de residencia de la madre,Edad de la madre,Grupo de edad del padre,Total
0,Alava,Todas las edades,Todas las edades,2.810
1,Albacete,Todas las edades,Todas las edades,3.650
2,Alicante/Alacant,Todas las edades,Todas las edades,17.655
3,Almeria,Todas las edades,Todas las edades,7.505
4,Avila,Todas las edades,Todas las edades,1.210

In [35]:
df['Provincia de residencia de la madre'].unique()

array(['Alava', 'Albacete', 'Alicante/Alacant', 'Almeria', 'Avila',
       'Badajoz', 'Balears (Illes)', 'Barcelona', 'Burgos', 'Caceres',
       'Cadiz', 'Castellon', 'Ciudad Real', 'Cordoba', 'CoruÃ±a (A)',
       'Cuenca', 'Girona', 'Granada', 'Guadalajara', 'Guipuzcoa',
       'Huelva', 'Huesca', 'Jaen', 'Leon', 'Lleida', 'Rioja (La)', 'Lugo',
       'Madrid', 'Malaga', 'Murcia', 'Navarra', 'Ourense', 'Asturias',
       'Palencia', 'Palmas (Las)', 'Pontevedra', 'Salamanca',
       'Santa Cruz de Tenerife', 'Cantabria', 'Segovia', 'Sevilla',
       'Soria', 'Tarragona', 'Teruel', 'Toledo', 'Valencia/Valencia',
       'Valladolid', 'Vizcaya', 'Zamora', 'Zaragoza', 'Ceuta', 'Melilla'],
      dtype=object)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Provincia de residencia de la madre  52 non-null     object
 1   Total                                52 non-null     category
dtypes: category(1), object(1)
memory usage: 3.0+ KB

In [33]:
def quitar_puntos(col):
    col = str(col)
    col = col.replace('.', '')
    return col

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Provincia de residencia de la madre  52 non-null     object
 1   Edad de la madre                     52 non-null     object
 2   Grupo de edad del padre              52 non-null     object
 3   Total                                52 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.8+ KB

In [4]:
df.drop(['Edad de la madre', 'Grupo de edad del padre'], axis = 1, inplace = True)

In [5]:
df.head()

  Provincia de residencia de la madre   Total
0                               Alava   2.810
1                            Albacete   3.650
2                    Alicante/Alacant  17.655
3                             Almeria   7.505
4                               Avila   1.210

In [28]:
df.to_csv('Datos/nacimientos_2004.csv')